* {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 20px;
  min-width: 600px;
  min-height: 600px;
  border: 1px solid #f83232;
}

.page {
  margin: 0 auto;
  gap: 10px;
  
  .main-page,
  .favorite-page {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #acacac;
    }
  }
}

.container {
  padding: 20px;
  display: flex;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;

  &__button-favorite {
    padding: 5px 10px;
  }

  &__button-more {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      background-color: #acacac;
    }
  }
}

.input-container {
  display: flex;
  width: 75%;

  &__button {
    padding: 5px 10px;
  }

  &__bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

    &-layer {
      padding: 5px;
      width: 100%;
    }
  }
}

.info-container {
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 10px;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description__detail {
    border-top: 1px solid #ddd;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
