@import "styles/colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__button-favorite {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-favorite {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-image: url("../../icons/star-disabled.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    &:hover {
      background-image: url("../../icons/star-hover.svg");
    }

    &.active {
      background-image: url("../../icons/star-active.svg");
    }
  }
}

.input-container {
  display: flex;
  width: 75%;

  &__button {
    padding: 5px 10px;
  }

  &__bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

    &-layer {
      padding: 5px;
      width: 100%;
    }
  }
}

.remove-button {
  display: flex;
  justify-content: end;
  margin-top: 20px;

  &__style {
    padding: 10px 20px;
    border: none;
    background-color: $bg-button;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $bg-button-hover;
    }
  }
}
